a{
  text-decoration: none;
  color: black;
}
h1{
  text-align: center;
  border-bottom: 1px gray solid;
  margin: 0;
  padding: 20px;
}
#sum{
  display: grid;
  grid-template-columns: 200px 1fr;
}
#sum ol{
  border-right: 1px gray solid;
  margin-top: 0;
  padding-top: 20px;
}
#sum #article{
  padding: 20px;
}
@media(max-width:600px){
  h1{
    border:none;
  }
  #sum{
    display: block;
  }
  #sum ol{
    padding-top: 0px;
    border-right: none;
  }
  /*#sum #article{

  }*/
}
